button{
    border-radius: 1px;
}

.cart-panel{
    background-color: gray;
    height: 70vh;
    width: 60vw;
    border-radius: 5px; 
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 2.5em;

    align-self: center;
}

.cart-panel-qty{
    display: flex;
    column-gap: 5px;

    align-items: center;
}

.cart-panel-buttons{
    display: flex;
    column-gap: 15px;
}

.check-out{
    display: flex;
    justify-content: center;
}